#body {
    background-color:rgb(252,251,250);
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: flex-start;
}

#header {
    order: 1;
    height: 100vh;
    min-height: 600px;
    min-width: 140px;
    background: rgba(43,171,197,1);
    background: linear-gradient(-47deg, rgba(172,80,242,1) 10%, rgba(0,10,0,1) 45%, rgba(43,171,197,1) 98%);
    border-style: solid;
    border-radius: 2px;
    border-color: #253628;
    clip-path: polygon(100% 0, 100% 58%, 0% 100%, 0 100%, 0 0);
}

#main {
    order: 2;
    height: 100vh;
    background-color: rgb(252,251,250);
}

#main-title-1 {
    margin-left: 5%;
    color: #0f1610;
}

#main-title-2 {
    margin-left: 10%;
    color: #0f1610;
}

#select-city-title {
    margin-left: 15%;
    color: seashell;
}

#city-select {
    margin-left: 15%;
}

#create-city {
    margin-left: 15%;
}

#restaurant-list {
    color: #EBEBE9;
    display: flex;
    flex-flow: row wrap;
    height: min-content;
    justify-content: center;
    width: 100%;
}

#restaurant-list-header {
    margin-top: 10%;
    text-align: center;
}

#body-heading {
    color:#253628;
}

#new-city {
    color: seashell;
}

#city-title {
    color: #0f1610;
    justify-self: center;
    align-content: center;
}

.buttons {
    float: left;
    margin-top: 30px;
    margin-left: 10%;
    width: 40%;
}

.restaurant-listing {
    width: 41%;
    height: min-content;
    background: rgb(172,80,242);
    background: linear-gradient(20deg, rgba(172,80,242,1) 15%, rgba(43,171,197,1) 87%);
    border-style: ridge;
    border-width: 5px;
    border-color: #860cf5;
    border-radius: 5px;
    margin: 2%;
    padding-left: 2%;
    transition: height .8s, width .8s, transform .8s, box-shadow 1s;
    
}

.restaurant-listing:hover {
    height: 42%;
    width: 42%;
    transform: rotate(.3deg);
    box-shadow: 5px 5px 5px 1px #0000007a;
    -webkit-backface-visibility: hidden;
}

.listing-header {
    color: #0f1610;
    text-indent: 5%;
}