#container {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto;
}

#header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    height: 100vh;
    background-color: rgb(13, 61, 151);

}

#main {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    height: 100vh;
    background-color: rgb(255, 221, 255);
}

h1 {
    color:rgb(255, 255, 255);
}